@font-face {
    font-family: "Poppins-bold";
    src: url("/assets/font/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins-bold_italic";
    src: url("/assets/font/Poppins/Poppins-Bold_Italic.ttf");
}

@font-face {
    font-family: "Poppins-bold_light_italic";
    src: url("/assets/font/Poppins/Poppins-Bold_Italic.ttf");
}

@font-face {
    font-family: "Manrope-regular";
    src: url("/assets/font/Manrope/Manrope-Regular.ttf");
}

