
// Poppins

@font-face {
    font-family: "Poppins-bold";
    src: local('Poppins-bold'), url("/fonts/Poppins-Bold.ttf") format('ttf');
}

@font-face {
    font-family: "Poppins-bold-italic";
    src: local('Poppins-bold-italic'), url("/fonts/Poppins-Bold-Italic.ttf") format('ttf');

}

@font-face {
    font-family: "Poppins-light-italic";
    src: local('Poppins-light-italic'), url("/fonts/Poppins-Light-Italic.ttf") format('ttf');

}

// manrope

@font-face {
    font-family: "Manrope-Regular";
    src: local('Manrope-Regular'), url("/fonts/Manrope-Regular.ttf") format('ttf');
}

@font-face {
    font-family: "Manrope-Extra-Bold";
    src: local('Manrope-Extra-Bold'), url("/fonts/Manrope-ExtraBold.ttf") format('ttf');
}
