
// Poppins

@font-face {
    font-family: "Poppins-bold";
    src: url("/src/assets/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins-bold-italic";
    src: url("/src/assets/fonts/Poppins-Bold-Italic.ttf");

}

@font-face {
    font-family: "Poppins-light-italic";
    src: url("/src/assets/fonts/Poppins-Light-Italic.ttf");

}

// manrope

@font-face {
    font-family: "Manrope-Regular";
    src: url("/src/assets/fonts/Manrope-Regular.ttf");
}

@font-face {
    font-family: "Manrope-Extra-Bold";
    src: url("/src/assets/fonts/Manrope-ExtraBold.ttf");
}
