$background_color : #202020;
$background_color-variant : #393E4680;
$blue : #00ADB5;
$blue_variant : #4594AE;
$white : #ffff;

$title_font_size : 50px;
$text_font_size : 20px;
$button_font_size : 16px;
