@use '../base/typo';

// variable color 
$background_color : #202020;
$background_color-variant : #393E4680;
$blue : #00ADB5;
$blue_variant : #4594AE;
$white : #ffff;

// variable font size text
$font_size_title : 50px;
$font_size_text : 20px;
$font_size_button : 16px;


// variable font 
$font : (
    $poppins_bold : 'Poppins-bold',
    $poppins_bold_italic : 'Poppins-bold_italic',
    $poppins_bold_light_italic : 'Poppins-bold_light_italic',
    $manrope_regular : 'Manrope-regular',
)

