/* ------------------- reset css ------------------- */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/* ------------------- fin reset css ------------------- */




/* ------------------ scroll bar ----------------- */

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-thumb {
    width: 14px;
    height: 10px;
    background-color: white;
    border-radius: 50px;
}

/* ------------------ Fin scroll bar ----------------- */




/* --------------Font Bebas Neus ----------------------- */

@font-face {
    font-family: Bebeas Neus;
    src: url(../font/BebasNeus.ttf);
    font-display: block;
}



/* --------------Font Roboto ----------------------- */

@font-face {
    font-family: Roboto;
    src: url(../font/Roboto.ttf);
    font-display: block;
}



/* ------------------ variable css ----------------- */


:root {
    --background-color-body: #181A1B;
    --background-color-box: #243034;
    --title: #F1662A;
    --texte: #ffff;
    --background-separator: #5F676B;
}


/* ------------------ fin variable css ----------------- */




body {
    background-color: var(--background-color-body);
    font-family: 'Bebeas Neus';
    animation: fade-html 1.2s;
}

@keyframes fade-html {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* ------------------- Header ------------------- */

#header {
    width: auto;
    height: 100vh;
    background-image: url(../images/backgrounds/background-header-uspl.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

/* ------------------- fin style header ------------------- */



/* -------------------navigation------------------- */

.nav {
    padding: 25px;
    animation: nav 2s;
}

@keyframes nav {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }

    100% {
        opacity: 1;
    }
}

.nav-bar {
    width: 65%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-box);
    border-radius: 50px;
}

.nav-links {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav .nav-links-content a:hover {
    transition: all 0.3s ease-out;
    color: var(--title);
}

.nav-links-content a {
    font-size: 31px;
    color: white;
}

.nav-links-content a:hover {
    text-decoration: dotted;
}

/* ------------------- fin style navigation ------------------- */


/* ------------------- Header text ------------------- */

.header-title {
    width: 50vw;
    height: 20vh;
    text-align: center;
    padding-top: 100px;
    color: var(--texte);
    font-size: 65px;
    animation: header-title 2s;
}

@keyframes header-title {
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }

    100% {
        opacity: 1;
    }
}

.header-text {
    width: 50vw;
    height: 15vh;
    color: var(--texte);
    text-align: center;
}

.header-text-content {
    width: 100%;
    height: 10vh;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.header-subtitle-content-one {
    width: 100%;
    height: 15vh;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.header-subtitle-content-two {
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

/* ------------------- fin style Header text ------------------- */


/* ------------------- header flèche  ------------------- */



/* ------------------- fin style header flèche  ------------------- */




/* ------------------- style séparator  ------------------- */


.separator {
    padding-top: 9%;
    width: 100%;
}

.separator-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator-content hr {
    width: 97%;
    height: 5px;
    border: none;
    background-color: var(--background-separator);
}




/* ------------------- fin style séparator  ------------------- */




/* ------------------- section présentation  ------------------- */

.presentation-flex-content {
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.presentation-box-one {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
}

.presentation-box-one-title {
    padding-top: 20px;
    width: auto;
    height: 22vh;
    font-size: 7em;
    color: var(--title);
}

.presentation-box-one-text {
    width: 80%;

}

.presentation-texte-content {
    width: 100%;
    text-align: left;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: var(--texte);
    line-height: 50px;
}

.presentation-box-two {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
}

.presentation-box-two-logo-language-content {
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.presentation-box-two-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.button-download-cv {
    position: relative;
    font-size: 40px;
    text-align: center;
    color: var(--texte);
    border: 3px solid var(--title);
    width: 50%;
    height: 8vh;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.button-download-cv::before {
    background: #F1662A;
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0vh;
    border-radius: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(25deg);
    transition: all 0.5s ease-in-out;
}

.button-download-cv:hover::before {
    height: 30vh;
}


/* ------------------- fin section présentation  ------------------- */




/* ------------------- section parcours  ------------------- */


.parcours-title-content {
    font-size: 7em;
    color: var(--title);
    text-align: center;
    padding-top: 8%;
}


.parcours-box {
    padding-top: 2%;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 30px;
}

.parcours-box-flex {
    width: 100%;
    display: flex;
    justify-content: center;
}

.parcours-box-content {
    width: 40%;
    height: 25vh;
    background-color: var(--background-color-box);
    border-radius: 20px;
}

.parcours-box-content .box {
    width: 40%;
    height: 50vh;
    background-color: var(--background-color-box);
    border-radius: 20px;
}


/* ------------------- fin style parcours  ------------------- */




/* ------------------- section skill  ------------------- */


#skill .skill-title {
    padding-top: 8%;
    font-size: 7em;
    color: var(--title);
    text-align: center;

}


#skill .skill-box-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#skill .skill-box-content .skill-box-code {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

#skill .skill-box-code img:hover {
    transform: scaleY(20px);
}


#skill .skill-box-content .skill-box-code-content {
    width: 50%;
    height: 30vh;
    background-color: var(--background-color-box);
    border-radius: 20px;
}

#skill .skill-box-content .skill-box-desing {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

#skill .skill-box-content .skill-box-desing-content {
    width: 50%;
    height: 30vh;
    background-color: var(--background-color-box);
    border-radius: 20px;
}

#skill .skill-box-content .skill-box-working {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

#skill .skill-box-content .skill-box-working-content {
    width: 50%;
    height: 30vh;
    background-color: var(--background-color-box);
    border-radius: 20px;
}



/* ------------------- fin section skill  ------------------- */


/* ------------------- section project  ------------------- */


#project .project-title {
    padding-top: 15%;
}

#project .project-title .project-title-content {
    font-size: 95px;
    color: var(--title);
    text-align: center;
}

#project .project-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    height: auto;
}

#project .project-box .project-box-flex {
    width: 80%;
    height: 60vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}


#project .project-box .project-box-content {
    width: 35%;
    height: 45vh;
    background-color: var(--background-color-box);
    border-radius: 20px;

}


#contact {
    padding-top: 7%;
}

#contact .contact-title {
    height: 30vh;
    font-size: 95px;
    color: var(--title);
    text-align: center;
}

#contact .contact-text {
    font-size: 40px;
    color: var(--texte);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 75px;
}


#contact .contact-box {
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row nowrap;
}

#contact .contact-box-flex {
    width: 30vw;
    height: 45vh;
    background-color: var(--background-color-box);
    border-radius: 20px;
}


@media only screen and (max-width: 992px) {

    html {
        display: none;
    }
}