* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  /* Couleurs */
  --background-color: #202020;
  --background-color-variant: #323232;
  --background-color-blue: #00adb5;
  --blue: #00adb5;
  --blue-variant: #4594ae;
  --white: #ffffff;
  --gray: #959595;

  /* Tailles de police */
  --font-size-title: 3.3rem;
  --font-size-text: 1.2rem;
  --font-size-button: 1.1rem;
  --font-size-subtitle: 1.5rem;

  /* Polices */
  --font-poppins-bold: 'Poppins-bold';
  --font-poppins-bold-italic: 'Poppins-bold-italic';
  --font-poppins-light-italic: 'Poppins-light-italic';
  --font-manrope-regular: 'Manrope-Regular';
  --font-manrope-extra-bold: 'Manrope-Extra-Bold';
}

@font-face {
  font-family: 'Poppins-bold';
  src: url('/assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins-bold-italic';
  src: url('/assets/fonts/Poppins-Bold-Italic.ttf');
}

@font-face {
  font-family: 'Poppins-light-italic';
  src: url('/assets/fonts/Poppins-Light-Italic.ttf');
}

@font-face {
  font-family: 'Manrope-Regular';
  src: url('/assets/fonts/Manrope-Regular.ttf');
}

@font-face {
  font-family: 'Manrope-Extra-Bold';
  src: url('/assets/fonts/Manrope-ExtraBold.ttf');
}

body {
  font-size: var(--font-size-text);
  font-family: var(--font-manrope-regular);
  background-color: var(--background-color);
  color: var(--white);
}

a {
  color: var(--white);
  text-decoration: none;
}

span {
  color: var(--blue);
  padding-left: 10px;
}

#header{
  padding-top: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_nav{
  width: 90%;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  background-color: var(--background-color-variant);
}

.header_nav_title{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 38px;
}

.nav{
  padding-right: 38px;
}

.nav ul{
  display: flex;
  align-items: center;
  gap: 50px;
}