@use '../base/typo';

// variable color 
$background_color : #202020;
$background_color_variant : #323232;
$background_color_blue : #00ADB5;
$blue : #00ADB5;
$blue_variant : #4594AE;
$white : #ffff;
$gray : #959595;

// variable font size text
$font_size_title : 3.3rem;
$font_size_text : 1.2rem;
$font_size_button : 1.1rem;
$font-size-subtitle : 1.5rem;

// variable font 

$Poppins-Bold : 'Poppins-bold';
$Poppins-Bold_italic : 'Poppins-bold-italic';
$Poppins-light_italic : 'Poppins-light-italic';
$Manrope-Regular : 'Manrope';


